/*^^--**--------------------------^^--**
TYPOGRAPHY
^^--**----------------------------^^--**/
@font-face {
    font-family: 'avenir_45_bookregular';
    src: url('../fonts/avenir-book-webfont.eot');
    src: url('../fonts/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-book-webfont.woff') format('woff'),
         url('../fonts/avenir-book-webfont.ttf') format('truetype'),
         url('../fonts/avenir-book-webfont.svg#avenir_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_85_heavyregular';
    src: url('../fonts/avenir-heavy-webfont.eot');
    src: url('../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-heavy-webfont.woff') format('woff'),
         url('../fonts/avenir-heavy-webfont.ttf') format('truetype'),
         url('../fonts/avenir-heavy-webfont.svg#avenir_85_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirregular';
    src: url('../fonts/12_avenir_35_light_02173-webfont.eot');
    src: url('../fonts/12_avenir_35_light_02173-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/12_avenir_35_light_02173-webfont.woff') format('woff'),
         url('../fonts/12_avenir_35_light_02173-webfont.ttf') format('truetype'),
         url('../fonts/12_avenir_35_light_02173-webfont.svg#avenirregular') format('svg');
    font-weight: normal;
    font-style: normal;
}