#navigation-wrap {
  padding-top: 10px;
  background: url(../images/stripped-border.png) repeat-x 0 0;
  font-family: $themefont-bold;
}
.fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
    #intro-reload {
      position: absolute;
      top:9px;
      left: 0;
      width: 72px;
      height: 43px;
      z-index: 9999;
      background: url(../images/intro-return-icon.png)no-repeat;
      cursor: pointer;
      &:hover {
        background-position: 0 -47px;
      }
    }
}
#main-nav-wrap {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 1;
    #mobile-menu-icon {
      display: block;
      background: none;
      color: #fff;
      border: 0;
      float: right;
      clear: both;
    }
}
#main-nav {
  padding: 0;
  margin: 0;
  z-index: 1;
  display: none;
    li {
      text-transform: uppercase;
      font-size: .8em;
      float: none;
      position: relative;
        a {
          color: #fff;
          @include transition(all,.5s);
          padding: 10px;
            &:hover {
              color: $yellow;
              background: none;
            }
            i {
              font-size: .8em;
              color: $light-gray;
              position: absolute;
              right: 10px;
              top: 40%;
            }
        }
        .dropdown-menu {
          background: $navigation-background;
          border: 1px solid #444;
          border-top: 0;
          margin-left: 8px;
            li {
                &:first-child {
                  margin: 0;
                }
            }
        }
        &:first-child {
          margin-top: -3px;
          //margin-left: 18px;
        }
    }
    .active a {
      color: $yellow;
      background: none;
    }
}
#social-networks {
  margin-top: 7px;
    li {
      float: right;
        a{
          width: 32px;
          height: 32px;
          margin-left:3px;
          @include transition(all,0.3s);
        }
    }
}
//#instagram {margin-right: 10px }
#facebook a{ background: url(../images/social-network-sprite.png) no-repeat -147px 0; }
#facebook a:hover { background-position: -147px -32px; }
#twitter a{ background: url(../images/social-network-sprite.png) no-repeat -99px 0; }
#twitter a:hover { background-position: -99px -32px; }
#youtube a{ background: url(../images/social-network-sprite.png) no-repeat -51px 0; }
#youtube a:hover { background-position: -51px -32px; }
#pintrest a{ background: url(../images/social-network-sprite.png) no-repeat 0 0; }
#pintrest a:hover { background-position: 0 -32px; }
#instagram a{ background: url(../images/social-network-sprite.png) no-repeat -199px 0; }
#instagram a:hover { background-position: -199px -32px; }
#sort-nav {
  border-radius: 0;
  background: url(../images/sub-nav-bg.png);
  background: rgba(141,118,55,0.7);
  border-bottom: 1px solid #ffc220!important;
  border-right: none!important;
  border-top: 1px solid #ffc220!important;
  border-left: none!important;
  z-index: 0;
  min-height: 0;
    li {
      text-transform: uppercase;
      padding: 7px 0;
      font-size: .9em;
        a {
          color: #543019;
          padding: 2px 4px 0;
          background: #c49616;
          background: rgba(255,194,32,0.3);
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-right: 7px;
          @include transition(all,.5s);
            &:hover {
                background: $yellow;
                background: rgba(255,194,32,1);
            }
        }
        .selected {
           background: $yellow;
           background: rgba(255,194,32,1);
         }
      &:first-child {
        margin-left: 15px;
      }
    }
}
#left-sorter {
  border-right: 1px solid #ffc220;
  margin-right: 20px;
  padding-right: 10px;
}

// SMALL DEVICE NAVIGATION
#left-side-nav {
  position: fixed;
  left: 0;
  top: 0;
  background: $navigation-background;
  display: none;
  z-index: 9999;
  margin-left: -500px;
    .close {
      color: #fff;
      padding: 5px 10px;
    }
    ul {
      margin-top: 25px;
        li {
              a {
                color: #fff;
                background: none;
                @include transition(all,.5s);
                  &:hover {
                    color: $yellow;
                  }
                  i {
                    font-size: .75em;
                  }
              }
        }
        .second-slide {
          position: absolute;
          left: 100%;
          top: 0;
          background: #222;
          display: none;
          padding: 10px 20px;
        }
    }
}
